.storeMetMainDiv {
    gap: 1.5rem;
    width: 100%;
    height: 30%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storeMetCards {
    flex-basis: 25%;
    flex: 1;
    height: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    gap: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storeMetCards h2 {
    font-size: 1.5vw;
}

.storeMetCards p {
    font-size: 1vw;
}

.storeMetCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.storeMetCardIcon {
    color: blue;
    font-size: 20px;
}

.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) and (min-width: 400px) {
    .storeMetMainDiv {
        height: 20%;
    }
}