.homeDiv {
    max-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.homeDiv::-webkit-scrollbar {
    display: none;
}

.chartDiv {
    width: 100%;
    display: flex;
    padding: 1vh;
    color: rgba(107, 107, 107, 0.767);
    height: 100%;
}

.chartDiv>div {
    flex-basis: 50%;
    flex-grow: 1;
    width: 50%;
    height: 100%;
}

.flex {
    display: flex;
    height: 50%;
}

.orderTxt {
    text-align: center;
    padding: 0.5vw;
    font-weight: 600;
}