.homeDiv {
    max-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.homeDiv::-webkit-scrollbar {
    display: none;
}

.chartDiv {
    width: 100%;
    display: flex;
    padding: 1vh;
    color: rgba(107, 107, 107, 0.767);
    height: 100%;
}

.chartDiv>div {
    flex-basis: 50%;
    flex-grow: 1;
    width: 50%;
    height: 100%;
}

.flex {
    display: flex;
    height: 50%;
}

.orderTxt {
    text-align: center;
    padding: 0.5vw;
    font-weight: 600;
}

.rotate {
    height: 100px;
    width: 100px;
    border: 4px solid rgba(12, 117, 158, 0.89);
    border-right: 4px solid #fff;
    border-radius: 50%;
    /* transition: 2s ease-in-out; */
    animation: 1s rotate linear infinite;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}