.homeDiv {
    height: 100%;
    font-family: sans-serif;
    display: flex;
}

table {
    background: grey;
    width: 100%;
}


.homeTableDiv {
    height: 50%;
    overflow: scroll;
    width: 50%;
    border-bottom: 1px solid #111;
}

.homeTableDiv::-webkit-scrollbar {
    display: none;
}


th {
    padding: 0.2vw;
}

.tr {
    position: sticky;
    top: 0;
}

.tr>th {
    background: #fff;
    width: 25%;
    padding: 0.5vw;
}

tr {
    background: #636262;
    font-size: 1vw;
    width: 100%;
}

td {
    padding: 0.5vw;
}

.prodImage {
    max-width: 30%;
    /* margin: auto; */
    /* display: flex;
    justify-content: center; */
    /* object-fit: contain; */
    /* border-radius: 50%; */
}


.orderSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 50%;
    border: 1px solid #111;
}

.orderSection>div {
    overflow-y: auto;
}

.orderSection>div::-webkit-scrollbar {
    display: none;
}

.orderSection>div>div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111;
    padding: 0.5vh;
}

.orderSection>div>div:nth-child(odd) {
    background: #db9003;
}

.orderSection>div>div:nth-child(even) {
    background: #030344;
    color: #fff;
}

.asideImg {
    width: 10%;
}

.orderSection>div>div>aside>img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.asideDetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    font-size: 0.9vw;
}

.orderTxt {
    text-align: center;
    padding: 0.5vw;
    font-weight: 600;
}