@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.routes {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.navRoutes {
  flex: 6;
  width: 80%;
  border: 1px solid #111;
}

.navRoute {
  flex: 1.2;
  border: 1px solid #111;
  width: 20%;
}