.mainNavHeader {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  height: 100%;
  font-family: sans-serif;
  background: #fff;
}

.navHeadMainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5%;
  background: #030344;
  color: #fff;
  font-family: sans-serif;
}

.navOptions {
  font-size: 1.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navUls {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: left;
  list-style-type: none;
  width: 100%;
}

.navLink {
  color: #111;
  text-decoration: none;
  padding: 1vw;
  width: 100%;
  font-size: 1vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.logoutButton {
  border: none;
  background: rgba(50, 93, 236, 0.6);
  font-size: 1vw;
  color: #fff;
  cursor: pointer;
  padding: 0.8vw;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.logoutButton:hover,
.navLink:hover {
  background: rgba(3, 24, 92, 0.6);
  transition: 0.5s ease-in-out;
  color: #fff;
}

.navImage {
  max-width: 100%;
}

.active {
  color: #fff;
  transition: 0.5s ease-in-out;
  background: rgba(3, 24, 92, 0.6);
}

.bar {
  display: none;
}

@media (min-width: 200px) and (max-width: 650px) {
  .navUls {
    gap: 1.2vh;
  }

  .show {
    display: flex;
  }

  .mainNavHeader {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    height: 92vh;
    transition: all 0.4s ease-in-out;
  }

  .hide {
    right: -1000%;
    transition: all 0.4s ease-in-out;
  }

  .navOptions {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 45vw;
    background: #fff;
    z-index: 999;
  }

  .navLink {
    color: #6868e9;
    padding: 0.5rem;
    font-size: 20px;
  }

  .active {
    color: #fff;
  }


  .logoutButton {
    font-size: 20px;
  }

  .bar {
    display: block;
    font-size: 25px;
    width: fit-content;
    position: absolute;
    top: 1vh;
  }
}

@media (min-width: 651px) and (max-width: 900px) {
  .navLink {
    font-size: 1.15vh;
  }
}